<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Oryx</string>
    <key>CFBundleDisplayName</key>
    <string>Oryx</string>
    <key>CFBundleIdentifier</key>
    <string>com.steerania.Oryx</string>
    <key>CFBundleVersion</key>
    <string>@VERSION@</string>
    <key>CFBundleShortVersionString</key>
    <string>@VERSION@</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>oryx</string>
    <key>CFBundleIconFile</key>
    <string>oryx</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>11.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>GPL-3.0-or-later</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Markdown document</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>md</string>
                <string>markdown</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Text document</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>txt</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Ebook</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>epub</string>
                <string>fb2</string>
                <string>fbz</string>
                <string>mobi</string>
                <string>azw3</string>
                <string>azw</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Comic book</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>cbz</string>
                <string>cbr</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Source code</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>applescript</string>
                <string>as</string>
                <string>bash</string>
                <string>bat</string>
                <string>bib</string>
                <string>c</string>
                <string>cc</string>
                <string>cfg</string>
                <string>cl</string>
                <string>clj</string>
                <string>cls</string>
                <string>cmd</string>
                <string>cpp</string>
                <string>cs</string>
                <string>css</string>
                <string>csx</string>
                <string>cxx</string>
                <string>d</string>
                <string>ddl</string>
                <string>di</string>
                <string>diff</string>
                <string>dml</string>
                <string>dockerfile</string>
                <string>dot</string>
                <string>dpr</string>
                <string>el</string>
                <string>erl</string>
                <string>fish</string>
                <string>go</string>
                <string>gql</string>
                <string>gradle</string>
                <string>graphql</string>
                <string>groovy</string>
                <string>gv</string>
                <string>gvy</string>
                <string>h</string>
                <string>hcl</string>
                <string>hh</string>
                <string>hpp</string>
                <string>hrl</string>
                <string>hs</string>
                <string>htm</string>
                <string>html</string>
                <string>hxx</string>
                <string>ini</string>
                <string>java</string>
                <string>js</string>
                <string>json</string>
                <string>jsp</string>
                <string>jsx</string>
                <string>kt</string>
                <string>kts</string>
                <string>lhs</string>
                <string>lisp</string>
                <string>ltx</string>
                <string>lua</string>
                <string>m</string>
                <string>mak</string>
                <string>mjs</string>
                <string>mk</string>
                <string>ml</string>
                <string>mli</string>
                <string>mm</string>
                <string>opml</string>
                <string>pas</string>
                <string>patch</string>
                <string>php</string>
                <string>phtml</string>
                <string>pl</string>
                <string>pm</string>
                <string>pod</string>
                <string>properties</string>
                <string>proto</string>
                <string>py</string>
                <string>pyi</string>
                <string>pyw</string>
                <string>r</string>
                <string>rb</string>
                <string>rest</string>
                <string>rs</string>
                <string>rss</string>
                <string>rst</string>
                <string>sbt</string>
                <string>scala</string>
                <string>scm</string>
                <string>sh</string>
                <string>sql</string>
                <string>sty</string>
                <string>swift</string>
                <string>tcl</string>
                <string>tex</string>
                <string>textile</string>
                <string>tf</string>
                <string>toml</string>
                <string>ts</string>
                <string>tsx</string>
                <string>xhtml</string>
                <string>xml</string>
                <string>xsd</string>
                <string>xslt</string>
                <string>yaml</string>
                <string>yml</string>
                <string>zig</string>
                <string>zon</string>
                <string>zsh</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
